{{#if liked}}
  <span class="db f4 mb1 b">{{product.title}}</span>
  <span class="db f5 mb1">by {{product.brand}}™</span>
  <span class="db f5 mv2">{{rating-bar stars=4 count=4815}}</span>
  <div class="f5 flex mt3 mb1">
    <span class="currency-symbol">$</span>
    <span class="currency-number f1">{{deal.price}}</span>
  </div>
{{else}}
  <span class="db mb1 b flex-auto">{{product.title}}</span>

  <div class="flex flex-auto">
    <span class="db f5 mb1 flex-auto">by {{product.brand}}™</span>
    <div class="f5 flex self-end">
      <span class="currency-symbol">$</span>
      <span class="currency-number f1">{{deal.price}}</span>
    </div>
  </div>
{{/if}}
