<div class="pt2 pb2">
  <h2 class="mh2 fw5 mb3">
    <span class="bb b--gray pr3 pl1">Recent Likes</span>
  </h2>

  {{#if likedDeals}}
    <div class="liked-deal-list">
      {{#each likedDeals as |deal|}}
        {{#swipable-list-item as |sli|}}
          {{#sli.top}}
            {{deal-list-item deal=deal liked=true click=(action onDealListItemClick deal)}}
          {{/sli.top}}

          {{#sli.actions}}
            <div class="flex flex-column">
              {{#dz-button class="white" click=(action "unlike-deal" deal.id)}}
                move to <b>disliked</b> list
              {{/dz-button}}

              {{#dz-button
                click=(route-action "hopToFakeSpot" deal.product)
                class="white mv1"
              }}
                view <b>fakespot</b> score
              {{/dz-button}}

              {{#dz-button
                class="white"
                click=(route-action "hopToCamelCamelCamel"
                deal.product)
              }}
                view <b>camelcamelcamel</b> overview
              {{/dz-button}}
            </div>
          {{/sli.actions}}
        {{/swipable-list-item}}
      {{/each}}
    </div>
  {{else}}
    <div class="hk-well mh2 mv3">
      <span class="f2 mb2 lh-title">🧐</span>
      <span class="f3 mw7 center lh-copy">No recent likes.</span>
      <span class="db mt2">{{link-to "tap to browse deals" "app.swiper"}}</span>
    </div>
  {{/if}}
</div>


<div class="pt2 pb2">
  <h2 class="mh2 fw5 mb3">
    <span class="bb b--gray pr3 pl1">Recent Dislikes</span>
  </h2>

  {{#if dislikedDeals}}
    <div class="liked-deal-list">
      {{#each dislikedDeals as |deal|}}
        {{#swipable-list-item as |sli|}}
          {{#sli.top}}
            {{deal-list-item deal=deal liked=false}}
          {{/sli.top}}

          {{#sli.actions}}
            {{#dz-button click=(action "relike-deal" deal.id)}}
              move to <b>liked</b> list
            {{/dz-button}}
          {{/sli.actions}}
        {{/swipable-list-item}}
      {{/each}}
    </div>
  {{else}}
    <div class="hk-well mh2 mv3">
      <span class="f2 mb2 lh-title">🥴</span>
      <span class="f3 mw7 center lh-copy">No recent dislikes.</span>
    </div>
  {{/if}}
</div>

{{#if staleDeals}}
  <div class="pt2 pb2">
    <h2 class="mh2 fw5 mb3">
      <span class="bb b--gray pr3 pl1">Expired</span>
    </h2>
    <div class="expired-deal-list">
      {{#each staleDeals as |deal|}}
        {{deal-list-item-expired deal=deal}}
      {{/each}}
    </div>
  </div>
{{/if}}
