{{search-input
  query=query
  didPressKey=(action "didPressKey")
  didLoseFocus=(action "didLoseFocus")
  didFocusIn=(action "didFocusIn")
}}

{{#if componentIsActive}}
  <div class="wikiwiki-search-results br1 br--bottom z-0 bg-white">
    <ul class="ph0 mv0 list">
      {{#each (await filteredResults) as |result|}}
        <li class="f3 flex" role="button" {{action "didClickResult" result}}>
          {{#link-to
            "home"
            class="no-underline dark-gray pv2 w-100 truncate ph2"
          }}
            {{result.icon}} {{result.title}}
          {{/link-to}}
        </li>
      {{else}}
        {{#if (and hasSearchQuery (not showNotFoundMessage))}}
          <li class="bg-lightest-silver bt bb b--silver f3 flex">
            <a href="#" class="no-underline dark-gray pv2 w-100 truncate ph2">
              <div class="hk-stencil w-40 pv2"></div>
            </a>
          </li>
          <li class="bg-lightest-silver bt bb b--silver f3 flex">
            <a href="#" class="no-underline dark-gray pv2 w-100 truncate ph2">
              <div class="hk-stencil w-60 pv2"></div>
            </a>
          </li>
          <li class="bg-lightest-silver bt bb b--silver f3 flex">
            <a href="#" class="no-underline dark-gray pv2 w-100 truncate ph2">
              <div class="hk-stencil w-50 pv2"></div>
            </a>
          </li>
        {{/if}}
      {{/each}}

      {{#if showNotFoundMessage}}
        <li class="bg-lightest-silver bt br1 b--silver f3">
          <div class="flex flex-column items-center justify-center">
            <img src="https://media1.tenor.com/images/99d772f27c3537355d4dc1e49bd22e4b/tenor.gif?itemid=3433537" alt="">
          </div>
        </li>
      {{/if}}

      {{#unless hasSearchQuery}}
        {{!-- <li class="truncate f3 flex ph3">
          {{#link-to
            "swiper"
            class="no-underline dark-gray pv2 w-100 truncate"
          }}
            <span class="icon-tab mr2"></span>swipe right for therapy <span class="hk-badge--beta">beta</span>
          {{/link-to}}
        </li> --}}
      {{/unless}}
    </ul>
  </div>
{{/if}}
