{{search-input
  query=query
  didPressKey=(action "didPressKey")
  didLoseFocus=(action "didLoseFocus")
  didFocusIn=(action "didFocusIn")
}}

{{#if componentIsActive}}
  <div class="wikiwiki-search-results br1 br--bottom z-0 bg-white">
    <ul class="ph0 mv0 list">
      {{#each (await filteredResults) as |result|}}
        {{#link-to "app.product" result class="bt bb b--silver f3 pv2 no-underline near-black flex items-center"}}
          <div class="thumbnail-parent pa1 bg-white flex-none">
            <img
              class="thumbnail block"
              src={{result.thumbnail}}
              alt="product thumbnail image"
            >
          </div>

          <span class="ph1">{{result.title}}</span>
        {{/link-to}}
      {{else}}
        {{#if (and hasSearchQuery (not showNotFoundMessage))}}
          <li class="bg-lightest-silver bt bb b--silver f3 flex">
            <a href="#" class="no-underline dark-purple pv2 w-100 truncate ph2">
              <div class="hk-stencil w-40 pv2"></div>
            </a>
          </li>
          <li class="bg-lightest-silver bt bb b--silver f3 flex">
            <a href="#" class="no-underline dark-purple pv2 w-100 truncate ph2">
              <div class="hk-stencil w-60 pv2"></div>
            </a>
          </li>
          <li class="bg-lightest-silver bt bb b--silver f3 flex">
            <a href="#" class="no-underline dark-purple pv2 w-100 truncate ph2">
              <div class="hk-stencil w-50 pv2"></div>
            </a>
          </li>
        {{/if}}
      {{/each}}

      {{#if showNotFoundMessage}}
        <li class="bg-lightest-silver bt br1 b--silver f3">
          <div class="flex flex-column items-center justify-center">
            <img
              src={{notFoundGif}}
              class="w-100"
              alt="wubalubadubdub"
            >
          </div>
        </li>
      {{/if}}

      {{#unless hasSearchQuery}}
        <li class="truncate f2 flex items-center bt br1 b--silver">
          {{#link-to
            "app.swiper"
            class="flex no-underline dark-purple ph3 pv4 w-100 truncate"
          }}
            <span class="pr2 emojay">🛍</span>
            <span>browse deals</span>
          {{/link-to}}
        </li>

        <li class="truncate f2 flex bt br1 b--silver">
          {{#link-to
            "app.deals"
            class="flex no-underline dark-purple ph3 pv4 w-100 truncate"
          }}
            <span class="pr2 emojay">🔖</span>
            <span>view history</span>
          {{/link-to}}
        </li>
      {{/unless}}
    </ul>
  </div>
{{/if}}
