{{#multiselect-checkboxes
    options=products
    selection=selectedProducts
    class="ph0 mh0"
    as |p isSelected|
}}
  <label for={{p.name}} class="custom-checkbox-cell flex items-center mv2">
    <div class="custom-checkbox flex-none mh2">
      {{input class="dn" type="checkbox" id=p.name checked=isSelected}}
      <span for={{p.name}} class="custom-checkbox-inner-circle"></span>
    </div>
    <span class="flex-auto">{{p.name}}</span>
  </label>
{{/multiselect-checkboxes}}

<h2>selected</h2>
{{#each selectedProducts as |sp|}}
  <h1>{{sp.name}}</h1>
{{/each}}
