{{deal-list-item-image url=product.primaryImage class="self-center pa2"}}

<div class="mh3 mb3">
  <span class="f4 b">{{product.title}}</span>
  <div class="mb2 flex justify-between items-center db f5">
    <span>by Menon™{{product.manufacturer}}</span>
    <span>{{rating-bar stars=4 count=4815}}</span>
  </div>

  <div class="flex flex-auto flex-column">
    {{#dz-button
      click=(route-action "hopToAmazon" product)
      class="f2 mh3 light-orange bg-black"
    }}
      see product on <b>amazon</b>
    {{/dz-button}}

    {{#dz-button
      class="mh3 mv1 bg-gray light-gray"
      disabled=true
    }}
      <b>alert</b> me when on sale
    {{/dz-button}}

    {{#dz-button
      click=(route-action "hopToFakeSpot" product)
      class="mh3 white bg-purple"
    }}
      view <b>fakespot</b> score
    {{/dz-button}}

    {{#dz-button
      click=(route-action "hopToCamelCamelCamel" product)
      class="mh3 mt1 white bg-purple"
    }}
      view <b>camelcamelcamel</b> overview
    {{/dz-button}}
  </div>
</div>

{{camel-graph-img product=product}}
