<div class="flex flex-column flex-none ph2">
  <img
    class="self-center"
    src={{product.primaryImage}}
    alt="primary product image"
    referrerpolicy="no-referrer"
  >

  <span class="f4 b">{{product.title}}</span>
  <div class="mb2 flex flex-none justify-between items-center db f5">
    {{#if product.brand}}<span>by {{product.brand}}™</span>{{/if}}
    <span>{{rating-bar stars=4 count=4815}}</span>
  </div>
</div>

<div class="mv2 bt b--silver"></div>

<div class="flex flex-column flex-none ph2">
  {{#dz-button
    click=(route-action "hopToAmazon" product)
    class="f2 white bg-gradient-primary b--purple"
  }}
    see product on <b>amazon</b>.com
  {{/dz-button}}

  {{#dz-button
    class="mv1 bg-gradient-silver light-purple"
    disabled=true
  }}
    <b>alert</b> me when on sale
  {{/dz-button}}

  {{#dz-button
    click=(route-action "hopToFakeSpot" product)
    class="purple bg-gradient-silver b--purple"
  }}
    view <b>fakespot</b> score
  {{/dz-button}}

  {{#dz-button
    click=(route-action "hopToCamelCamelCamel" product)
    class="mt1 purple bg-gradient-silver b--purple"
  }}
    view <b>camelcamelcamel</b> overview
  {{/dz-button}}
</div>

<div class="mv2 bt b--silver"></div>

<div class="amazon-description">
  {{! template-lint-disable no-triple-curlies}}
  {{{product.description}}}
</div>

<div class="mv2 bt b--silver"></div>

{{!-- camel^3's website is hosed so.. let's just omit this for now --}}
{{camel-graph-img product=product}}
