<div class="flex flex-column pa2">
  {{deal-list-item-image url=product.primaryImage class="self-center"}}

  <span class="f4 b">{{product.title}}</span>
  <div class="mb2 flex justify-between items-center db f5">
    {{#if product.brand}}<span>by {{product.brand}}™</span>{{/if}}
    <span>{{rating-bar stars=4 count=4815}}</span>
  </div>

  <div class="flex flex-auto flex-column">
    {{#dz-button
      click=(route-action "hopToAmazon" product)
      class="f2 light-orange bg-black"
    }}
      see product on <b>amazon</b>
    {{/dz-button}}

    {{#dz-button
      class="mv1 bg-gradient-silver light-gray"
      disabled=true
    }}
      <b>alert</b> me when on sale
    {{/dz-button}}

    {{#dz-button
      click=(route-action "hopToFakeSpot" product)
      class="white bg-gradient-primary"
    }}
      view <b>fakespot</b> score
    {{/dz-button}}

    {{#dz-button
      click=(route-action "hopToCamelCamelCamel" product)
      class="mt1 white bg-gradient-primary"
    }}
      view <b>camelcamelcamel</b> overview
    {{/dz-button}}
  </div>
</div>

{{camel-graph-img product=product}}
