<div class="flex flex-column flex-none pa2">
  <img
    class="self-center"
    src={{product.primaryImage}}
    alt="primary product image"
    referrerpolicy="no-referrer"
    >

  <span class="f4 b">{{product.title}}</span>
  <div class="mb2 flex flex-none justify-between items-center db f5">
    {{#if product.brand}}<span>by {{product.brand}}™</span>{{/if}}
    <span>{{rating-bar stars=4 count=4815}}</span>
  </div>

  <div class="flex flex-column flex-none">
    {{#dz-button
      click=(route-action "hopToAmazon" product)
      class="f2 light-orange bg-black"
    }}
      see product on <b>amazon</b>
    {{/dz-button}}

    {{#dz-button
      class="mv1 bg-gradient-silver light-gray"
      disabled=true
    }}
      <b>alert</b> me when on sale
    {{/dz-button}}

    {{#dz-button
      click=(route-action "hopToFakeSpot" product)
      class="white bg-gradient-primary"
    }}
      view <b>fakespot</b> score
    {{/dz-button}}

    {{#dz-button
      click=(route-action "hopToCamelCamelCamel" product)
      class="mt1 white bg-gradient-primary"
    }}
      view <b>camelcamelcamel</b> overview
    {{/dz-button}}
  </div>
</div>

<div class="amazon-description pa2 bt b--silver">
  {{{product.description}}}
</div>

{{!-- camel^3's website is hosed so.. let's just omit this for now --}}
{{!-- {{camel-graph-img product=product}} --}}
