{{#unless question}}
  {{#each questions as |q|}}
    <div>{{q.value}} -- {{q.answer}}</div>
  {{/each}}
{{/unless}}

{{#each questions as |question index| }}
  {{#if (eq index questionIdx)}}
    <h2>{{question.value}}</h2>
    {{#if question.subvalue}}<h3>{{question.subvalue}}</h3>{{/if}}

    {{#if question.choices}}
      {{#if question.multipleChoice}}
        {{#x-select value=question.answer multiple=question.multipleChoice action=(action "didSelect" question) as |xs|}}
          {{#each question.choices as |choice|}}
            {{#xs.option value=choice}}{{choice.value}}{{/xs.option}}
          {{/each}}
        {{/x-select}}
      {{else}}
        {{#x-select class="hk-select" value=question.answer multiple=question.multipleChoice action=(action "didSelect" question) as |xs|}}
          <option value="unselected"></option>
          {{#each question.choices as |choice|}}
            {{#xs.option value=choice}}{{choice.value}}{{/xs.option}}
          {{/each}}
        {{/x-select}}
      {{/if}}
    {{else}}
      {{input value=question.answer class="hk-input"}}
    {{/if}}

    <span class="hk-button--primary pa2" onclick={{action (action "next")}}>Next</span>
  {{/if}}
{{/each}}
