{{#each paginatedDeals as |deal|}}
  {{#tinder-card
    cardDidDisappear=(action "removeCard")
    onLeftTap=(action "onLeftTap")
    onRightTap=(action "onRightTap")
  }}
    <style media="screen">
      #tinder-card-image {
        background: url({{deal.primaryImage.path}}) 50% 50% no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    </style>


    {{#if showCardDetails}}
      <div class="tinder-card-details">
        <h2 class="ma2">{{deal.title}}</h2>
        <p class="ma3">{{deal.description}}</p>
      </div>
    {{else}}
      <div id="tinder-card-image">
      </div>

      <div class="tinder-card-info b--white bg-near-black">
        <div class="tinder-card-badge"></div>

        <div class="flex flex-column justify-around ma2 ttu">
          <div class="">
            <span class="f1 fw6 mt1">
              ${{deal.price}}
            </span>
            <span class="strike f3 fw6 mt1 gray">
              ${{deal.product.msrp}}
            </span>
          </div>

          <span class="f5 fw5 mt2 moon-gray">
            {{deal.title}}
          </span>
        </div>
      </div>
    {{/if}}
  {{/tinder-card}}
{{else}}
  <h2 class="tc">
    <img
      src="https://cdn.shopify.com/s/files/1/0739/9215/collections/image_08066673-21b9-4234-b38c-17c67a47600d_1024x1024.jpg?v=1483546240"
      alt=""
    >
  </h2>
  <h3
    role="button"
    class="tc mt4 pa2 dark-gray"
    onclick={{action "reset"}}
  >
    tap to refresh
  </h3>
{{/each}}
